/* ================= Footer Styles ================= */

footer {
    border: 2px var(--secondary-color);
}

.footer-section {
    background-color: var(--primary-bg);
    color: var(--secondary-color);
    font-family: "Poppins", sans-serif;
    padding: 40px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-brand {
    flex: 1 1 300px;
    margin-bottom: 30px;
    text-align: center;
}

/* ================= Left Column Brand, Logo, & Services Styles ================= */

.client-logo {
    max-width: 150px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    transition: transform var(--transition-speed);
}

.client-logo:hover {
    transform: scale(1.05);
}

.brand-name {
    font-size: 2rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.services {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

/* ================= Right Column Locations Styles ================= */

.footer-locations {
    flex: 1 1 300px;
    margin-bottom: 30px;
    text-align: center;
}

.region-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.location-box {
    background-color: var(--secondary-bg);
    border-radius: 5px;
    border: 2px solid var(--secondary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    color: var(--primary-color);
    margin: 0 auto;
    max-width: 250px;
    padding: 20px;
}

.location-box:hover {
    transform: scale(1.08px);
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-brand,
    .footer-locations {
        flex: 1 1 100%;
        text-align: center;
    }
}
