<h1 class="progress-indicator-title">Booking</h1>
<!-- Progress Indicator -->
<div class="progress-indicator">
    <ul>
        <li class="step progress-step active" data-step="1">
            <span class="step-number">1</span>
            <span class="step-description">Event Type</span>
        </li>
        <li class="step progress-step" data-step="2">
            <span class="step-number">2</span>
            <span class="step-description">Date &amp; Time</span>
        </li>
        <li class="step progress-step" data-step="3">
            <span class="step-number">3</span>
            <span class="step-description">Event Location</span>
        </li>
        <li class="step progress-step" data-step="4">
            <span class="step-number">4</span>
            <span class="step-description">Review Details</span>
        </li>
        <li class="step progress-step" data-step="5">
            <span class="step-number">5</span>
            <span class="step-description">Payment</span>
        </li>
    </ul>
</div>