/* ================= Color Variables ================= */

:root {
    --primary-bg: #2C2C2C;
    --secondary-bg: #94C8F8;
    --primary-color: #000;
    --secondary-color: #fff;
    --hover-color: #E0F7FA;
    --transition-speed: 0.3s;
    --card-bg: rgba(30, 30, 30, 0.8);
}

/* ================= General Styles ================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("/NEW-PM-JI-RESERVIFY/assets/bg/bg4.jpg") center center / cover no-repeat fixed;
    font-family: "Poppins", sans-serif;
}

.custom-hr {
    border: 2px solid var(--secondary-color);
}

/* ================= Side Panel Styles ================= */

.side-panel {
    border-radius: 4px;
    padding: 15px;
    padding-bottom: 0;
}

.side-panel .menu-title {
    font-size: 1.6rem;
    color: var(--secondary-color);
    font-weight: 600;
}

.side-panel ul {
    list-style: none;
    padding-left: 0;
}

.side-panel ul li {
    margin-bottom: 10px;
}

.side-panel ul li a {
    color: var(--primary-color);
    font-size: 14px !important;
    display: block;
    padding: 4px 6px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.side-panel ul li a:hover,
.side-panel ul li a.active {
    color: var(--secondary-color);
}

.col-md-2 {
    padding: 0;
}

/* ================= Main Content Styles ================= */

.portfolio-item img {
    border: 2px solid black;
}

.card {
    padding-top: 0 !important;
}

.mb-4 {
    padding: 20px;
}

/* ================= Accordion Content Styles ================= */

#faqAccordion .card {
    overflow: hidden;
}

#faqAccordion .card-body {
    word-wrap: break-word;
}

#faqAccordion .btn-link {
    text-align: left;
    width: 100%;
}

#faqAccordion .collapse {
    width: 100%;
}

#faqAccordion .collapse {
    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

#faqAccordion .collapse.show {
    visibility: visible;
    height: auto;
}