:root {
    --primary-bg: #2C2C2C;
    --secondary-bg: #94C8F8;
    --primary-color: #000;
    --secondary-color: #fff;
    --hover-color: #E0F7FA;
    --transition-speed: 0.3s;
    --card-bg: rgba(30, 30, 30, 0.8);
}

/* ================= General Styles ================= */

body {
    font-family: "Poppins", sans-serif;
    background: url("/NEW-PM-JI-RESERVIFY/assets/bg/bg4.jpg") center center / cover no-repeat;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-content {
    margin-top: 120px !important;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}

/* ================= Card Styles ================= */

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    overflow: hidden;
    max-height: 500px;
    min-height: 500px;
}

.card-header {
    background-color: #2e7d32;
    color: var(--secondary-color);
    padding: 16px;
    padding-bottom: 0;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.card-body p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.card-body h5 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: var(--primary-color);
}

.card-body ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.card-body ul li {
    font-size: 1rem;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--primary-color);
}

.card-body ul li:last-child {
    border-bottom: none;
}

.card-footer {
    color: var(--primary-color);
    padding: 15px;
    text-align: center;
    font-size: 0.9rem;
}

/* ================= Button Styles ================= */

.btn-primary {
    color: var(--primary-color);
    background-color: #fff;
    border: 2px solid var(--primary-bg);
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #fff;
    border: 2px solid var(--primary-bg);
    color: var(--primary-color);
    transform: scale(1.05);
}

/* ================= Responsive Design ================= */

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .card-body p {
        font-size: 1rem;
    }

    .card-body h5 {
        font-size: 1.3rem;
    }

    .card-body ul li {
        font-size: 0.9rem;
    }
}